{
  "rules": {
    "indent": [
      2,
      "tab"
    ],
    "strict": 0,
    "no-console": 0,
    "quotes": [
      2,
      "double"
    ],
    "no-debugger": "off",
    "no-useless-escape": "off"
  },
  "env": {
    "browser": true,
    "node":true
  },
  "extends": "eslint:recommended"
}